/*Fichier CSS du Site internet de l'Association des Parents d'Eleves : les Ecoliers de Fontbonne*/

/*Police d'ecriture*/
body{ font-family:'poppins', 'arial', sans-serif;
}


/*Couleur des titres*/
h1 {color: #00C69D;}
h2 {color: #FF51B0;}
h3 {color: #FD8A5E;}

/*Couleur des différents textes*/
p{color:gray;}

time{
    color:#FFC603;
    font: bold;
}

.role{
    color:#FFC603;
    font: bold;
}

/*Liens*/
a {color: #07BDFF;
    text-decoration: none;
}

/*image logo APE*/
#logo{
    width : 150px; 
    height : 150px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
}
@media (max-width: 650px) {
    #logo {
        width : 100px; 
        height : 100px;
        -moz-border-radius : 50px;
        -webkit-border-radius : 50px;
        border-radius : 50px;
    }
}

/*image logos Email et Facebook*/
.contact{
    width : 20px; height : 20px;
    border: none;
    border-radius: 5px;
}

/*Bordures sur et sous le menu*/
#menuNavidation{
    border-top: 2px solid #00C69D;
    border-bottom: 2px solid #00C69D;
}

/*texte justifié*/
div, ul{
 text-align: justify;
}

/*Card dans Action*/
.card {
    width: 20rem;
}

